/* Estilos para la validación de campos de contraseña */
.confirmacion{
  background-color: #60c84c;
  border-radius: 2px;
  padding: 5px;
  color: white;
}
.negacion{
  background-color: #ff7473;
  border-radius: 2px;
  padding: 5px;
  color: white;
}

.btn-registrar{
  margin-left: 50px;
  padding: 10px;
}

.tablas{
  text-align: center;
  padding: 50px;
  padding-top: 20px;
}

#botones{
	background-color: #3490dc;
	color: white;
	border: white;
}
#botones:hover {
 background-color: white;
 color: #3490dc;
 font-weight: bold;
 box-shadow: inset 0 0 0 3px #3490dc;
}

#boton_menu{
  width: 210px;
  margin-left: 18%;
  border-radius: 28px;
	background-color: #e3342f;
	color: white;
	border: white;
}
#boton_menu:hover {
 background-color: white;
 color: #e3342f;
 font-weight: bold;
 box-shadow: inset 0 0 0 3px #e3342f;
}

.desplegable:hover{
  background-color: white;
  font-weight: bold;
}

.iconos{
  vertical-align: middle;
  margin-left: 3px;
}

.input_normal{
  margin-bottom: 6px;
}

.input_icono{
  width: 278px;
  margin-bottom: 6px;
}
